<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h2>Dear <%= username %></h2>
    <h5>Hey <%= username %>!</h5>
        <p>Your account has been registered.</p>
        <table class="social" style="border-top:1px solid #bebebe">
        </br>
        <tr>
            <td>Your Login credentials are:</td>
            </tr>
            <tr>
            <td>Username: <%= username %></td>
            </tr>
            <tr>
            <td>Password: <%= password %></td>
            </tr>
            </table>
</body>